<!DOCTYPE html>
<html ng-app="FiredUpChangesApp">
  <head>
    <title>Firedup Changes</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <script type="text/javascript" src="/components/angular/angular.js"></script>
    <script type="text/javascript" src="/components/socket.io.js"></script>
  </head>
  <body>
    <h1>Changes</h1>
    <div ng-controller="FiredUpChangesCtrl">
      <form ng-submit="addItem()">
        <ul>
          <li ng-repeat="item in items">{{item}}</li>
        </ul>
        <input ng-model="newItem" placeholder="Item name" />
      </form>
    </div>
    <script type="text/javascript" src="/script/socket.js"></script>
    <script type="text/javascript" src="/script/firedup.js"></script>
    <script type="text/javascript" src="/script/client.js"></script>
  </body>
</html>
